html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 40px;
}

.jumbotron {
	height: 400px;
	background-image: url('../img/bg1.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 - 100px;
	color: #eaeaea;
	overflow: hidden; 

}


.jumbotron img{
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,1.3);

}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}



hr{
	width: 250px;
	border-top: 3px solid #666;

}

section{
	min-height: 680px;
}

.about {
	min-height: 300px;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;

}
.portfolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0,0);
}
.contact {
	min-height: 900;
	background-color: #eee;
	margin-bottom: 10px;

}

footer {
	position: absolute;
	button: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;
}
btn btn-primary {
	margin-bottom: 100px;
}


footer p {
	color: #aaa;
	font-size: 0.9em;




